@model Arobs_Battleships.ViewModels.Home.GridConfigurationViewModel

<div class="row">
    <div class="menu center-content">
        <form asp-controller="Home" asp-action="Post">
            <div class="alert alert-warning alert-dismissible fade show" asp-validation-summary="ModelOnly">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            <div class="form-group row">
                <label for="rows" class="col-sm-2 col-form-label">Grid size</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control" asp-for="Rows" placeholder="Rows">
                </div>
                <div class="col-sm-2 text-center">
                    X
                </div>
                <div class="col-sm-4">
                    <input type="number" class="form-control" asp-for="Columns" placeholder="Columns">
                </div>
            </div>
            <div class="form-group row">
                <label for="battleships" class="col-sm-2 col-form-label">Battleships</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="Battleships" aria-describedby="battleshipsHelp">
                    <small id="battleshipsHelp" class="form-text text-muted">Number of 5 square ships</small>
                </div>
            </div>
            <div class="form-group row">
                <label for="destroyers" class="col-sm-2 col-form-label">Destroyers</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" asp-for="Destroyers" aria-describedby="destroyersHelp">
                    <small id="destroyersHelp" class="form-text text-muted">Number of 4 square ships</small>
                </div>
            </div>
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary">Start game</button>
            </div>
        </form>
    </div>
</div>