@model Battleships.ViewModels.Home.HomeViewModel

<div class="row">
    <div class="menu center-content">
        <button type="button" onclick="window.location.href='/'">New game</button>
    </div>
</div>
<div class="row">
    <div class="center-content">
        <table>
            <tbody>
                <tr>
                    <td><div class="cell"></div></td>
                    @for (char c = 'A'; c <= 64 + Model.Grid.NumberOfColumns; c++)
                    {
                        <td><div class="cell">@c</div></td>
                    }
                </tr>
                @for (int i = 1; i <= Model.Grid.NumberOfRows; i++)
                {
                    <tr>
                        <td><div class="cell">@i</div></td>
                        @for (char c = 'A'; c <= 64 + Model.Grid.NumberOfColumns; c++)
                        {
                            var cell = Model.Grid.GetCellByCoordinates(c, i);
                            <td><div class="cell cell-border" data-state="IsWater" data-position="@(cell.Column.ToString() + cell.Row)"></div></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.cell-border').click(function () {
                var position = $(this).attr('data-position');
                shoot(position.charAt(0), position.substring(1));
            });
            $('.cell-border').hover(function () {
                hoverOverWaterCell(this);
            },
            function () {
               $(this).empty(); 
            });
        });
    </script>
}